.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation ul a {
  display: block;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  transition: 0.2s;
}

.navigation ul a:hover {
  transform: translateX(10px);
}

.navigation ul a.active {
  transform: translateX(0px);
}

.navigation ul li:nth-child(1) a.active {
  border-left: 10px solid red;
}
.navigation ul li:nth-child(2) a.active {
  border-left: 10px solid blue;
}
.navigation ul li:nth-child(3) a.active {
  border-left: 10px solid green;
}
.navigation ul li:nth-child(4) a.active {
  border-left: 10px solid yellow;
}
